<div class="section-maita-travel_wrapper
            add_flex__nowrap
            flex_jcontent_start
            flex__align-items_end">

  <h2 class="section_title" i18n="@@sectionMaitaTravelTitle"><span>ﺍﻟﻤﻌﺎﻳﻄﺔ</span> ﻟﻠﺴﻴﺎﺣﺔ</h2>

  <div class="section_content" i18n="@@sectionMaitaTravelContent">
      ﺑﺮﻧﺎﻣﺞ ﺳﻴﺎﺣﻲ ﻣﺘﻤﻴﺰ ﻭﻫﻮ ﺍﻟﻤﻜﺎﻥ ﺍﻟﺬﻱ ﻧﻘﺪﻡ ﻓﻴﻪ ﺍﻟﻤﻌﺮﻓﺔ
      ﻭﺍﻟﺨﺒﺮﺓ ﺍﻟﺴﻴﺎﺣﻴﺔ ﺍﻟﻤﺸﻬﻮﺩﺓ ﺑﻴﻦ ﺃﻳﺪﻳﻜﻢ ، ﻭﻧﻀﻊ ﺷﺒﻜﺔ ﻋﻼﻗﺎﺗﻨﺎ
      ﺗﺤﺖ ﺗﺼﺮﻓﻜﻢ ﻟﻨﺴﻌﺪ ﺑﺨﺪﻣﺘﻜﻢ ﻭ ﻋﻠﻰ ﻣﺪﺍﺭ ﺍﻟﺴﺎﻋﺔ ﻣﺪﻓﻮﻋﻴﻦ
      ﺑﺎﻹﺑﺪﺍﻉ ﻭﺍﻟﻤﻌﺮﻓﺔ ﻭﺍﻹﻟﻬﺎﻡ .
  </div>
</div>
<!-- end of .section-maita-travel_wrapper -->
