<div id="disable_page"></div>
<!-- end of .disable_page -->

<div class="mobile_menu">
  <div class="container">

    <div class="languages">
      <ul>
        <li><a  class="selected" href="#">English</a></li>
        <li><a dir="rtl" href="#">ﻰﺑﺮﻋ</a></li>
      </ul>
    </div>
    <!-- end of languages -->

    <nav class="main_menu">

      <ul class="add_flex__nowrap
                flex__jcontent_between
                flex__align-items_center">

        <li><a href="#">about</a></li>
        <li><a href="#">story</a></li>
        <li><a href="#">mission</a></li>
        <li><a href="#">services</a></li>
        <li><a href="#">portfolio</a></li>
        <li><a href="#">contact us</a></li>

      </ul>
      <!-- end of ul -->

    </nav>
    <!-- end of .main_menu -->

  </div>
  <!-- end of .container -->
</div>
<!-- end of .mobile_menu -->
