<div class="our-portfolio_wrapper
            add_flex__nowrap
            flex__jcontent_start
            flex__align-items_start">

  <h2 class="section_title" i18n="@@sectionOurPortfolioTitle"><span>ﺷﺮﻛﺎﺅﻧﺎ</span></h2>

  <div class="section_content" i18n="@@sectionOurPortfolioContent">
      ﻧﺤﻦ ﻧﻘﺪﻡ ﺍﻟﺨﺪﻣﺎﺕ ﺍﻟﺴﻴﺎﺣﻴﺔ ﺍﻟﺘﻲ ﺗﻠﺒﻲ ﺍﺣﺘﻴﺎﺟﺎﺕ ﺍﻷﻋﻀﺎﺀ ﻣﻦ ﺗﺬﺍﻛﺮ ﻃﻴﺮﺍﻥ ، ﻭﺣﺠﻮﺯﺍﺕ ﺍﻟﻔﻨﺎﺩﻕ ، ﻭﺭﺣﻼﺕ ﺳﻴﺎﺣﻴﺔ
      ﻭﻏﻴﺮﻫﺎ ﺍﻟﻜﺜﻴﺮ ﻭﺍﻟﻤﺜﻴﺮ ، ﻧﺤﻦ ﻣﺘﺤﻤﺴﻮﻥ ﻟﻔﻜﺮﺓ ﺍﻟﺴﻔﺮ ، ﻭﺍﻻﻧﻀﻤﺎﻡ ﺇﻟﻴﻨﺎ ﺳﻴﻤﻜﻨﻜﻢ ﻣﻦ ﺍﻟﺤﺼﻮﻝ ﻋﻠﻰ ﺗﺠﺮﺑﺔ ﺭﺍﺋﻌﺔ ﻻ ﺗﻨﺴﻰ ، ﻣﻨﺬ
      ﺍﻟﺘﺨﻄﻴﻂ ﻟﻠﺮﺣﻠﺔ ﺇﻟﻰ ﺍﻟﻌﻮﺩﺓ ﺑﺎﻟﺴﻼﻣﺔ ، ﺧﻄﻮﺓ ﺑﺨﻄﻮﺓ ، ﻭﺃﻛﺜﺮ ﻣﻤﺎ ﺗﺘﻮﻗﻌﻮﻥ ،  700 ﻣﻦ ﻣﺸﻐﻠﻲ ﺍﻟﺮﺣﻼﺕ ﺍﻟﺴﻴﺎﺣﻴﺔ ﻓﻲ ﺧﺪﻣﺘﻜﻢ
      ﻳﺄﺧﺬﻭﻧﻜﻢ ﺇﻟﻰ ﺃﺭﻗﻰ ﺍﻟﻤﻘﺎﺻﺪ ﺍﻟﺴﻴﺎﺣﻴﺔ ﺍﻟﻤﺬﻫﻠﺔ:
  </div>

  <div class="partners
              main_flex
              flex__jcontent_start
              flex__align-items_center">

    <img class="logo_1" src="../../assets/icons/partner_logo_01.png" alt="Partner Logo">
    <img class="logo_2" src="../../assets/icons/partner_logo_02.png" alt="Partner Logo">
    <img class="logo_3" src="../../assets/icons/partner_logo_03.png" alt="Partner Logo">
    <img class="logo_4" src="../../assets/icons/partner_logo_04.png" alt="Partner Logo">
    <img class="logo_5" src="../../assets/icons/partner_logo_05.png" alt="Partner Logo">
    <img class="logo_6" src="../../assets/icons/partner_logo_06.png" alt="Partner Logo">
    <img class="logo_7" src="../../assets/icons/partner_logo_07.png" alt="Partner Logo">
  </div>
  <!-- end of .partners -->

  <div class="programs_list" i18n="@@sectionOurPortfolioProgramsList">
      ﻋﻄﻼﺕ ﺍﻟﺸﺎﻃﺊ ، ﻭﺭﺣﻼﺕ ﺍﻟﺴﻔﺮ ﻟﺮﺟﺎﻝ ﺍﻷﻋﻤﺎﻝ ،
      ﻭﺍﻟﺮﺣﻼﺕ ﺍﻟﺒﺤﺮﻳﺔ ، ﻭﺍﻟﺮﺣﻼﺕ ﺍﻻﺳﺘﻜﺸﺎﻓﻴﺔ ، ﺍﺳﺘﺮﺍﺣﺎﺕ
      ﺍﻟﻤﺪﻳﻨﺔ ، ﺍﻟﺮﺣﻼﺕ ﺍﻟﺠﻮﻳﺔ ، ﺭﺣﻼﺕ ﺷﻬﺮ ﺍﻟﻌﺴﻞ، ﺻﻨﺎﻋﺔ
      ﺍﻟﻌﻄﻞ، ﺣﻔﻼﺕ ﺍﻟﺰﻓﺎﻑ ، ﺍﻟﺘﺰﺣﻠﻖ ﻋﻠﻰ ﺍﻟﺠﻠﻴﺪ ، ﻋﻄﻼﺕ
      ﺍﻻﺳﺘﺠﻤﺎﻡ ، ﺍﻟﺴﻴﺎﺣﺔ ﺍﻟﺮﻳﺎﺿﻴﺔ ، ﺍﻟﺴﻴﺎﺣﺔ ﺍﻟﻔﻨﻴّﺓ ، ﻭﺍﻟﻤﺰﻳﺪ
      ﺍﻟﻤﺰﻳﺪ ..
  </div>
</div>
<!-- end of .our-portfolio_wrapper -->
