<div class="contact-us_wrapper
            add_flex__nowrap
            flex_jcontent_start
            flex__align-items_center">

  <h2 class="section_title" i18n="@@sectionContactUsTitle"><span>ﺍﻟﺘﻮﺍﺻﻞ </span>ﻣﻌﻨﺎ</h2>

  <div class="section_subtitle
              main_flex__nowrap
              flex__jcontent_between
              flex__align-items_center"
      i18n="@@sectionContactUsSubtitle">

    <img src="../../assets/icons/phone_icon.png" alt="Phone Icon">
    ﺍﻭ ﺍﻟﻮﺍﺗﺲ ﺍﺏ
    <img src="../../assets/icons/whatsapp_icon.png" alt="Whatsapp Icon">
    ﻣﻦ ﺧﻼﻝ ﺍﻟﻬﺎﺗﻒ
  </div>

  <div class="phones
              main_flex__nowrap
              flex__jcontent_between
              flex__align-items_start">

    <div class="column
                add_flex__nowrap
                flex__jcontent_start
                flex__align-items_center">

      <p i18n="@@sectionContactUsFromInsideJordanText">ﻣﻦ ﺩﺍﺧﻞ ﺍﻻﺭﺩﻥ</p>

      <div class="phone">079 70 436 70</div>
      <div class="phone">06 200 36 37</div>
    </div>
    <!-- end of 1st column -->

    <div class="column">
        <p i18n="@@sectionContactUsFroumOtsideJordanText">ﻣﻦ ﺧﺎﺭﺝ ﺍﻻﺭﺩﻥ</p>

        <div class="phone">00962 7 970 436 70</div>
        <div class="phone">00962 6 200 36 37</div>
      </div>
      <!-- end of 1st column -->
  </div>
  <!-- end of .phones -->

  <div class="email" i18n="@@sectionContactUsEmail">
    <a href="mailto:sales@maitatravel.com">Sales@maitatravel.com</a>
    ﺍﻻﻳﻤﻴﻞ
  </div>
</div>
<!-- end of ..contact-us_wrapper -->
