<div class="about-us_wrapper
            add_flex__nowrap
            flex_jcontent_start
            flex__align-items_start">

  <h2 class="section_title" i18n="@@sectionAboutUsTitle"><span>ﺃﻡ ﺗﻲ ﺳﻲ</span></h2>

  <div class="section_content" i18n="@@sectionAboutUsContent">
ﻟﻨﺎ ﻓﻲ ﻧﺎﺩﻱ ﺍﻟﻤﻌﺎﻳﻄﺔ ﻟﻠﺴﻴﺎﺣﺔ  <span>ﺃﻡ ﺗﻲ ﺳﻲ</span>  ﻃﺮﻳﻘﺘﻨﺎ
ﺍﻟﻤﺒﺘﻜﺮﺓ ﻓﻲ "ﺍﻟﺴﻔﺮ"  ﻭﻏﻴﺮ ﺍﻟﻤﺴﺒﻮﻕ ﺇﻟﻴﻬﺎ ، ﻧﻔﺘﺢ ﺁﻓﺎﻗﺎ ﺟﺪﻳﺪﺓ
ﻟﻠﺴﻴﺎﺣﺔ ، ﻭﻧﻄﺒﻖ ﻣﻔﺎﻫﻴﻤﻨﺎ ، ﻟﻀﻤﺎﻥ ﺃﻣﺎﻥ ﺍﻻﺳﺘﺜﻤﺎﺭ .
  </div>

  <div class="network">
    <img src="../../assets/content/network_ar.png" alt="Network Image">
  </div>

</div>
<!-- end of .about-us_wrapper -->
