// @font-face {
//   font-family: "Helvetica Neue LT Std 47 Light Condensed";
//   font-style: normal;
//   font-weight: normal;
//   src: local("Helvetica Neue LT Std 47 Light Condensed"),
//     url("../assets/vendors/fonts/HelveticaNeueLTStd-LtCn.woff") format("woff");
// }

// @font-face {
//   font-family: "Helvetica Neue LT Std 77 Bold Condensed";
//   font-style: normal;
//   font-weight: normal;
//   src: local("Helvetica Neue LT Std 77 Bold Condensed"),
//     url("../assets/vendors/fonts/HelveticaNeueLTStd-BdCn.woff") format("woff");
// }

$font-size-16px: 0.83vmax;
$font-size-18px: 0.94vmax;
$font-size-20px: 1.04vmax;
$font-size-22px: 1.15vmax;
$font-size-24px: 1.25vmax;
$font-size-33px: 1.72vmax;
$font-size-55px: 2.87vmax;
$font-szie-62px: 3.23vmax;
