<div class="our-services_wrapper
            add_flex__nowrap
            flex__jcontent_start
            flex__align-items_center">

  <h2 class="section_title" i18n="@@sectionOurServicesTitle"><span>ﺧﺪﻣﺎ</span>ﺗﻨﺎ</h2>

  <div class="section_remark" i18n="@@sectionOurServicesRemark">
      ﺍﺍﻟﺘﻲ ﺗﻠﺒﻲ ﺍﺣﺘﻴﺎﺟﺎﺕ ﺍﻷﻋﻀﺎﺀ <br>
      ﻧﺤﻦ ﻧﻘﺪﻡ ﺍﻟﺨﺪﻣﺎﺕ ﺍﻟﺴﻴﺎﺣﻴﺔ
  </div>
  <!-- end of .section_remark -->

  <div class="section_content">

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">

        <img src="../../assets/icons/camel_ride_icon.png" alt="Item Icon">
        <h3 i18n="@@sectionOurServicesItem1">ﺭﺣﻼﺕ ﺻﺤﺮﺍﻭﻳﺔ ﻣﺘﺨﺼﺼﺔ</h3>
    </div>
    <!-- end of Item 1 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/bus_tickets_icon.png" alt="Item Icon">
        <h3 i18n="@@sectionOurServicesItem2">ﺧﺪﻣﺎﺕ ﺍﻟﻤﻮﺻﻼﺕ ﺍﻟﺨﺎﺻﺔ</h3>
    </div>
    <!-- end of Item 2 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/airfares_icon.png" alt="Item Icon">
        <h3 i18n="@@sectionOurServicesItem3">ﺗﺬﺍﻛﺮ ﺍﻟﻄﻴﺮﺍﻥ</h3>
    </div>
    <!-- end of Item 3 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/cruises_icon.png" alt="Item Icon">
        <h3 i18n="@@sectionOurServicesItem4">ﺭﺣﻼﺕ ﺑﺤﺮﻳﺔ ﺩﺍﺧﻠﻴﺔ ﻭﺧﺎﺭﺟﻴﺔ</h3>
    </div>
    <!-- end of Item 4 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/hostels_icon.png" alt="Item Icon">
        <h3 i18n="@@sectionOurServicesItem5">ﻣﻨﺘﺠﻌﺎﺕ ﺳﻴﺎﺣﻴﺔ</h3>
    </div>
    <!-- end of Item 5 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/camps_icon.png" alt="Item Icon">
        <h3 i18n="@@sectionOurServicesItem6">ﺭﺣﻼﺕ ﺍﻟﺘﺨﻴﻴﻢ</h3>
    </div>
    <!-- end of Item 6 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/hotels_icon.png" alt="Item Icon">
        <h3 i18n="@@sectionOurServicesItem7">ﻓﻨﺎﺩﻕ ﻓﻲ ﺍﻷﺭﺩﻥ ﻭﺧﺎﺭﺝ ﺍﻷﺭﺩﻥ</h3>
    </div>
    <!-- end of Item 7 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/water_sports_icon.png" alt="Item Icon">
        <h3 i18n="@@sectionOurServicesItem8">ﺍﻟﺮﻳﺎﺿﺎﺕ ﺍﻟﺒﺤﺮﻳﺔ</h3>
    </div>
    <!-- end of Item 8 -->

    <div class="section_content__item
                add_flex__nowrap
                flex__jcontent_end
                flex__align-items_center">
        <img src="../../assets/icons/many_more_icon.png" alt="Item Icon">
        <h3 i18n="@@sectionOurServicesItem9">ﺍﻟﻤﺰﻳﺪ ﻗﺮﻳﺒﺎ</h3>
    </div>
    <!-- end of Item 9 -->
  </div>

</div>
<!-- end of .our-services_wrapper -->
