<div class="our-story_wrapper">

  <div class="our-story_image">
    <img src="../../assets/content/our_story_image.png" alt="Our Story Image">

    <div class="network_staff">
      <div class="network_staff__item
                  item_1">
        <img src="../../assets/content/network_ceo_arabic.png" alt="Network Member Image">

        <div class="quote
                  quote_1"
            i18n="@@sectionOurStoryQuote1">
            ﻝﻭﻷﺍ ﻲﻤﻫ ﻢﻜﺘﻣﺪﺧ
        </div>
      </div>
      <!-- end of .item_1 -->

      <div class="network_staff__item
                  item_2">
        <img src="../../assets/content/network_sales_01_arabic.png" alt="Network Member Image">

        <div class="quote
                  quote_2"
            i18n="@@sectionOurStoryQuote2">
            ﻢﻜﻴﻧﺎﻣﺃ ﻖﻴﻘﺤﺗ ﻉﺎﻄﺘﺴﻤﻟﺍ ﺭﺪﻗ ﻝﻭﺎﺣﺃ
        </div>
      </div>
      <!-- end of .item_2 -->

      <div class="network_staff__item
                  item_3">
        <img src="../../assets/content/network_project_director_arabic.png" alt="Network Member Image">

        <div class="quote
                  quote_3"
            i18n="@@sectionOurStoryQuote3">
            ﺓﺪﻳﺪﺟ ﻕﺎﻓﺁ ﺢﺘﻔﻧ
        </div>
      </div>
      <!-- end of .item_3 -->

      <div class="network_staff__item
                  item_4">
        <img src="../../assets/content/network_financial_manager_arabic.png" alt="Network Member Image">

        <div class="quote
                  quote_4"
            i18n="@@sectionOurStoryQuote4">
            ﺀﺎﻤﺴﻟﺍ ﻦﻣ ﺮﻄﻤﺗ ﻻ ﺔﻟﺍﺪﻌﻟﺍ
        </div>
      </div>
      <!-- end of .item_4 -->

      <div class="network_staff__item
                  item_5">
        <img src="../../assets/content/network_operations_manager_arabic.png" alt="Network Member Image">

        <div class="quote
                  quote_5"
            i18n="@@sectionOurStoryQuote5">
            ﻢﻜﻴﺿﺮﻳ ﺎﻣ ﺮﻴﻓﻮﺗ ﻲﻤﻫ
        </div>
      </div>
      <!-- end of .item_5 -->

      <div class="network_staff__item
                  item_6">
        <img src="../../assets/content/network_sales_02_arabic.png" alt="Network Member Image">

        <div class="quote
                  quote_6"
            i18n="@@sectionOurStoryQuote6">
            ﻢﻜﻠﺟﻷ ﻪﻋﺎﺴﻟﺍ ﺭﺍﺪﻣ ﻰﻠﻋ ﻞﻤﻋﺃ
        </div>
      </div>
      <!-- end of .item_6 -->
    </div>
    <!-- end of .network_staff -->
  </div>

  <div class="add_flex__nowrap
              flex__jcontent_start
              flex__align-items_end">

      <h2 class="section_title" i18n="@@sectionOurStoryTitle"><span>ﻗﺼﺘﻨﺎ</span></h2>

      <div class="section_content" i18n="@@sectionOurStoryContent1">
          ﻧﻔﺨﺮ ﻓﻲ ﻧﺎﺩﻱ ﺍﻟﻤﻌﺎﻳﻄﺔ ﻟﻠﺴﻴﺎﺣﺔ ﺃﻥ ﻟﻨﺎ ﻗﺼﺔ ﻧﺠﺎﺡ ﻃﻮﻳﻠﺔ
          ﻭﻣﺘﻤﻴﺰﺓ ﺗﺤﻤﻞ ﺍﺳﻢ ﻋﺎﺋﻠﺔ ﺍﻟﻤﻌﺎﻳﻄﺔ ﺍﻟﻜﺒﻴﺮﺓ ﻭﺍﻟﻌﺮﻳﻘﺔ ﺃﺭﺩﻧﻴﺎ
          ﻭﻋﺎﻟﻤﻴﺎ ، ﻭﺍﻟﻘﻮﺓ ﻭﺍﻟﺜﻘﺔ ﺑﺎﻟﻠﻪ ﺩﻓﻌﺘﻨﺎ ﻷﻥ ﻧﻜﻮﻥ ﻋﻠﻰ ﻗﺪﺭ
          ﺍﻟﻤﺴﺆﻭﻟﻴﺔ ﻟﺤﻤﻞ ﻫﺬﺍ ﺍﻻﺳﻢ .. ﺍﻟﻤﻌﺎﻳﻄﺔ ﺍﺳﻢ ﻣﻦ ﺫﻫﺐ ﻳﻌﻨﻲ
          ﺍﻟﻨﺰﺍﻫﺔ ﻭﺍﻷﻣﺎﻧﺔ ﻭﺍﻟﻤﺴﺆﻭﻟﻴﺔ ﻭﺍﻟﺘﻔﺎﻧﻲ ﻭﺃﺧﻼﻗﻴﺎﺕ ﺍﻟﻌﻬﺪ ﺍﻟﺘﻲ
          ﻭﺭﺛﻨﺎﻫﺎ ﻋﻦ ﺁﺑﺎﺋﻨﺎ ﻭﺃﺟﺪﺍﺩﻧﺎ .
      </div>

      <div class="section_content wider" i18n="@@sectionOurStoryContent2">
          <strong>ﺍﻟﻤﻬﻨﺪﺱ ﻣﻌﺎﺫ ﻋﺒﺪﺍﻟﻮﻫﺎﺏ ﺍﻟﻤﻌﺎﻳﻄﺔ</strong> <br>
ﻣﺆﺳﺲ ﺍﻟﺸﺮﻛﺔ ، ﻭﺭﺟﻞ ﺍﻷﻋﻤﺎﻝ ﺗﺴﻠﺢ ﺑﺎﻷﻣﻞ ﻭﺍﻹﻳﻤﺎﻥ ﻭﺍﻟﻌﻠﻢ ﻭﺍﻟﻌﻤﻞ <br>
ﻟﻴﺼﻞ ﺇﻟﻰ ﻣﺎ ﻭﺻﻞ ﺇﻟﻴﻪ ﻣﻦ ﺍﻟﻨﺠﺎﺡ ﻭﺍﻟﺘﻤﻴّﺯ ﻓﻲ ﺍﻟﻘﻄﺎﻉ ﺍﻟﺴﻴﺎﺣﻲ ، ﻣﻨﺬ ﺍﻟﻔﻜﺮﺓ <br>
ﺍﻷﻭﻟﻰ ﺇﻟﻰ ﺃﻥ ﺃﺻﺒﺤﺖ ﺷﺮﻛﺔ ﻋﺎﺑﺮﺓ ﻟﺤﺪﻭﺩ ﺍﻹﺑﺪﺍﻉ ﻭﺍﻟﺘﻔﻮﻕ ﻓﻲ ﻭﻗﺖ ﻗﻴﺎﺳﻲ <br>
ﻭﺇﻧﺠﺎﺯ ﻣﻌﺘﺮﻑ ﺑﻪ ، ﻭﺍﻵﻥ ﻳﺘﻄﻠﻊ ﺇﻟﻰ ﺑﻨﺎﺀ ﻣﺮﺣﻠﺔ ﺟﺪﻳﺪﺓ ﻓﻲ ﻫﺬﺍ ﺍﻟﺼﺮﺡ <br>
ﻣﺴﺘﻤﺪﺍ ﻣﻨﻜﻢ ﺍﻟﻌﺰﻳﻤﺔ ﻛﺸﺮﻛﺎﺀ ﺃﻗﻮﻳﺎﺀ ﺗﺮﻳﺪﻭﻥ ﺍﻷﻓﻀﻞ ﺩﺍﺋﻤﺎ .
      </div>
  </div>

</div>
<!-- end of .our-story_wrapper -->
